h1{
    
    width: 327px;
height: 150px;
margin-left: 12em;
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
display: flex;
align-items: center;
color: #172B4D;
flex: none;
order: 0;
flex-grow: 0;
}
p{

width: 327px;
height: 146px;
margin-left: 30em;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #344563;
flex: none;
order: 1;
flex-grow: 0;
}
body{
    text-align: center;
}
.toolbar{
    display: flex;
    justify-content: space-around;
    
}
.colm{
    
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
color: #6070FF;
display: flex;
align-items: center;
text-align: center;
flex: none;
order: 0;
flex-grow: 0;
}

.img1{
    position: absolute;
width: 105px;
height: 105px;
left: 323px;
top: 152.24px;


}
.img1{
    position: absolute;
width: 105px;
height: 105px;
left: 323px;
top: 152.24px;
}

.img2{
    position: absolute;
width: 11px;
height: 10px;
left: 132.98px;
top: 155.81px;

transform: rotate(52.97deg);
}

.img3{
    position: absolute;
width: 10px;
height: 10px;
left: 450px;
top: 152.24px;
}
.img4{
    position: absolute;
width: 50px;
height: 22.02px;
left: 800px;
top: 189px;

background: #EBEBFF;
transform: rotate(-30deg);
}

.img5{
    position: absolute;
width: 50px;
height: 22.02px;
left: 900px;
top: 240px;

background: #3c3cbd;
transform: rotate(-30deg);
}

.img6{
    position: absolute;
width: 50px;
height: 22.02px;
left: 780px;
top: 380px;

background: #5b5bc1;
transform: rotate(-30deg);
}
button{
    width: 69px;
height: 24px;
margin-top: 3em;

margin-left: 36em;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #6070FF;
flex: none;
order: 0;
flex-grow: 0;

    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;

}
  button:hover {
    background-color: #4CAF50;
    color: white;
  }
